<div id="p-wrapper">
    <ul id="piano">
        <li *ngFor="#pianoKey of pianoKeys">
            <div class="anchor" (click)="pressKey(pianoKey)"></div><span *ngIf="pianoKey.semiToneKeyId > 0"></span>
        </li>

        <!--<li><div class="anchor"></div></li>
        <li><div class="anchor"></div><span></span></li>
        <li><div class="anchor"></div><span></span></li>
        <li><div class="anchor"></div></li>
        <li><div class="anchor"></div><span></span></li>
        <li><div class="anchor"></div><span></span></li>
        <li><div class="anchor"></div><span></span></li>
        <li><div class="anchor"></div></li>
        <li><div class="anchor"></div><span></span></li>
        <li><div class="anchor"></div><span></span></li>
        <li><div class="anchor"></div></li>
        <li><div class="anchor"></div><span></span></li>
        <li><div class="anchor"></div><span></span></li>
        <li><div class="anchor"></div><span></span></li>
        <li class="middlec" (click)="pressKey('40')"><div class="anchor"></div></li>
        <li><div class="anchor"></div><span></span></li>
        <li><div class="anchor"></div><span></span></li>
        <li><div class="anchor"></div></li>
        <li><div class="anchor"></div><span></span></li>
        <li><div class="anchor"></div><span></span></li>
        <li><div class="anchor"></div><span></span></li>
        <li><div class="anchor"></div></li>
        <li><div class="anchor"></div><span></span></li>
        <li><div class="anchor"></div><span></span></li>
        <li><div class="anchor"></div></li>
        <li><div class="anchor"></div><span></span></li>
        <li><div class="anchor"></div><span></span></li>
        <li><div class="anchor"></div><span></span></li>
        <li><div class="anchor"></div></li>-->
    </ul>
</div>