.score-wrapper {
    width: 280px;
    height: 530px;
    background-color: #fff;
    position: absolute;
    top: -5px;
    right: 0;
    padding-top: 70px;
    -webkit-box-shadow: -1px 0px 5px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 0px 5px -2px rgba(0,0,0,0.75);
    box-shadow: -1px 0px 5px -2px rgba(0,0,0,0.75);
    z-index: 10;
}

.score-wrapper__content {
    padding: 20px;
}

.score-wrapper__content p {

}

.tries {
    margin: 0;
    font-weight: bold;
}

.tries--correct {
    color: green;
}

.tries--incorrect {
    color: red;
}

/* Correct/Incorrect notice */

.score-notice {
    position: absolute;
    left: 10px;
    top: 10px;
}

.score-notice p {
    margin: 0;
}

.successfully-saved.hide-opacity {
    opacity: 0;
}

.successfully-saved {
    color: #FFFFFF;
    text-align: center;
    -webkit-transition: opacity 3s ease-in-out;
    -moz-transition: opacity 3s ease-in-out;
    -ms-transition: opacity 3s ease-in-out;
    -o-transition: opacity 3s ease-in-out;
    opacity: 1;
}

.score-wrapper__label {
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    color: #fff;
    border-radius: 3px;
}

.score-wrapper__label--success {
    background-color: green;
}

.score-wrapper__label--wrong {
    background-color: red;
}