#beginButton {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 280px;
    height: 70px;
    background-color: #efefef;
    z-index: 999;
    border: 0;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    -webkit-transition: opacity 0.1s ease-out;
    -moz-transition: opacity 0.1s ease-out;
    -ms-transition: opacity 0.1s ease-out;
    -o-transition: opacity 0.1s ease-out;
}

#beginButton:hover {
    opacity: 0.5;
}

#canvasPanel {
    width: 1185px;
    background-color: #fff;
    position: relative;
    overflow: hidden;
}

:focus {
    outline:none !important;
}

#gameWrapper {
    margin: 0 auto;
    width: 1185px;
}

.status.hide {
    opacity: 0;
}

.status.show {
    opacity: 1;
}

.status {
    color: #FFFFFF;
    text-align: center;
    -webkit-transition: opacity 3s ease-in-out;
    -moz-transition: opacity 3s ease-in-out;
    -ms-transition: opacity 3s ease-in-out;
    -o-transition: opacity 3s ease-in-out;
}